In [1]:
import pandas as pd
import numpy as np

In [23]:
df = pd.DataFrame(np.random.randn(50, 5), columns=['a', 'b', 'c', 'd', 'e'])

In [3]:
df.values

array([[-0.68898625, -0.46450574,  0.04067859,  0.69429286, -0.9210367 ],
       [-1.10253143, -1.50382543, -0.97970566, -1.05128757, -1.28286324],
       [-0.53301651, -0.45332061,  0.07704246,  0.1201589 ,  0.31739479],
       [ 0.44699269,  0.35788383,  0.49691413,  0.4823102 , -1.96434601],
       [-0.39060577, -0.30724443, -0.2905472 , -1.9368485 , -0.96287193],
       [ 0.47504901, -1.21835228,  1.64474217, -1.1639911 ,  0.76412617],
       [ 0.29747416, -0.00902126,  0.12491121, -0.83025876,  0.43321279],
       [ 0.94272322, -1.35655383, -0.71746932,  0.43318429, -0.25284292],
       [-0.5956918 ,  0.74130685,  0.77843886, -0.10798573,  0.44458243],
       [-1.09268582,  1.31314589, -1.20153334,  1.75940929, -2.0664809 ],
       [ 0.15947953, -0.18556464,  1.18391454,  1.58592503,  0.1911531 ],
       [ 0.3354015 ,  0.5162713 ,  1.66612085,  0.3182721 , -1.1954491 ],
       [ 0.69328859,  0.71440931,  0.49984959,  0.18414722,  1.37463464],
       [ 0.48747953,  0.99515364, -0.86707954, -1.75476554, -0.14180617],
       [-0.46591323, -2.25033658, -0.69898358,  0.77452747,  2.11251969],
       [ 1.07669155,  0.1867572 ,  0.07085612, -0.23845341, -1.48281262],
       [-1.09802144,  0.04359803, -0.55034285, -1.04046954,  1.7424248 ],
       [-0.20136012, -0.84422347,  0.51912637,  0.72464716,  0.5096593 ],
       [ 1.71073656, -2.19503328,  0.11097017, -0.029638  ,  0.33262977],
       [ 1.07966296,  1.32148406, -0.5536153 ,  1.25373491, -0.1441042 ],
       [-0.34586122,  1.26183034,  1.22812645, -1.6216278 , -2.96167642],
       [ 0.37739574,  0.1492199 , -0.25583839,  0.16398766,  0.81150047],
       [ 1.14651079, -1.17850531,  1.34368553,  1.14766642, -2.21839789],
       [ 0.28142083, -0.29053667, -1.22127525, -0.16990307,  0.20711244],
       [ 0.59985826,  2.59449967, -0.71158362, -0.03777226, -0.54152846],
       [-0.86445978,  3.06013166,  0.50983264,  0.05678973, -2.07348668],
       [ 1.03469908,  0.71489477,  2.44723273,  0.04717565,  1.04314783],
       [-1.33200412, -0.97143479,  0.26791372,  0.19084577, -0.6292836 ],
       [-0.51323579,  0.91718399,  0.63992997,  1.51071596,  0.10530756],
       [ 0.56393165,  0.01622502,  0.29366293, -0.40360906, -1.41565674],
       [-0.08082859,  0.34956567, -0.07554822, -0.3257307 ,  0.12107073],
       [ 0.71624378, -0.45183656,  0.02921124, -0.97911547,  0.46264746],
       [-1.18694272,  0.83167817,  0.10088895,  0.01138733, -0.01382096],
       [ 1.53853548, -0.93969194,  1.32392137,  0.8443615 , -0.8842426 ],
       [ 1.71692062,  1.46380576,  0.54640071,  0.08981299, -0.96536986],
       [-2.1210649 , -1.30815177,  0.98137921, -0.94054133, -1.21269592],
       [ 0.49234366, -0.62784124, -0.32418084, -1.20830543, -0.80443513],
       [ 0.34646418,  0.39581644, -2.02300167,  2.34751166,  0.76450099],
       [ 1.69961965, -0.94414867,  0.26784459,  2.74940879,  0.72278464],
       [-0.46343667,  0.9390659 ,  0.79535951, -0.07888939, -1.69619071],
       [ 0.1486939 , -1.1930862 , -1.1941504 , -0.17638715,  0.20543843],
       [ 0.26252998,  1.73854591, -0.85578468,  1.07222944,  0.77098261],
       [ 0.15888362,  0.47818541, -0.37848412,  0.8390908 ,  1.47838353],
       [ 1.18817986,  0.86948093, -1.63603457, -0.61062895,  1.46005404],
       [ 0.3788601 , -0.46965222, -0.54201682, -0.49488354, -1.13440451],
       [-1.71221395, -1.49834183, -0.09758168, -1.77606719,  0.01164639],
       [-0.13100256, -2.04881072, -0.59388381,  1.73480685,  0.83836694],
       [ 0.6567392 , -1.04588754, -1.15711411, -0.34711652,  0.42991092],
       [ 0.1628671 ,  0.88334482,  0.48812771,  0.31363737, -0.20195187],
       [-1.059874  ,  0.02401362,  0.47499894,  0.0253167 ,  0.63056773]])

In [4]:
(df > 0).all()

a    False
b    False
c    False
d    False
e    False
dtype: bool

In [6]:
(df > 0).any()

a    True
b    True
c    True
d    True
e    True
dtype: bool

In [7]:
df.empty

False

In [11]:
pd.Series([False]).bool()

False

## combine first operation

In [12]:
df1 = pd.DataFrame({'A' : [1., np.nan, 3., 5., np.nan],
       'B' : [np.nan, 2., 3., np.nan, 6.]})

In [13]:
df2 = pd.DataFrame({'A' : [5., 2., 4., np.nan, 3., 7.],
      'B' : [np.nan, np.nan, 3., 4., 6., 8.]})

In [14]:
df1.combine_first(df2)

     A    B
0  1.0  NaN
1  2.0  2.0
2  3.0  3.0
3  5.0  4.0
4  3.0  6.0
5  7.0  8.0

## Descriptive statistics

In [15]:
df = pd.DataFrame({'one' : pd.Series(np.random.randn(3), index=['a', 'b', 'c']),
                   'two' : pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd']),
                   'three' : pd.Series(np.random.randn(3), index=['b', 'c','d'])})

In [18]:
df

        one     three       two
a -0.712434       NaN  1.022522
b -0.780424 -0.934418 -1.017849
c  1.166160  1.803142 -0.361734
d       NaN -1.176569  0.372694

In [16]:
df.mean(0)

one     -0.108899
three   -0.102615
two      0.003908
dtype: float64

In [17]:
df.mean(1)

a    0.155044
b   -0.910897
c    0.869189
d   -0.401937
dtype: float64

In [19]:
df.sum(0, skipna=True)

one     -0.326698
three   -0.307844
two      0.015632
dtype: float64

In [20]:
df.sum(axis=1, skipna=False)

a         NaN
b   -2.732690
c    2.607568
d         NaN
dtype: float64

In [21]:
#applying this one as a standardization technique
ts_std = (df - df.mean())/ df.std()

In [26]:
ts_std.std()

one      1.0
three    1.0
two      1.0
dtype: float64

In [28]:
xs_stand = df.sub(df.mean(1), axis=0).div(df.std(1), axis=0)

In [29]:
xs_stand.std(1)

a    1.0
b    1.0
c    1.0
d    1.0
dtype: float64

In [30]:
df.cumsum()

        one     three       two
a -0.712434       NaN  1.022522
b -1.492858 -0.934418  0.004673
c -0.326698  0.868725 -0.357062
d       NaN -0.307844  0.015632

## Describe--summary statistics

In [31]:
series = pd.Series(np.random.randn(1000))

In [32]:
series[::2] = np.nan

In [33]:
series.describe()

count    500.000000
mean       0.082641
std        0.970463
min       -2.713318
25%       -0.515717
50%        0.048751
75%        0.693557
max        3.334085
dtype: float64

In [34]:
frame = pd.DataFrame(np.random.randn(1000, 5), columns=['a', 'b', 'c', 'd','e'])

In [35]:
frame.describe()

                 a            b            c            d            e
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.034121     0.042629    -0.033068     0.064780     0.043187
std       0.983916     1.038981     1.024108     1.034764     0.986739
min      -3.164421    -3.251290    -3.236800    -3.638763    -3.289153
25%      -0.600557    -0.634769    -0.702896    -0.609226    -0.608049
50%      -0.003829     0.090355    -0.005091     0.088254     0.044596
75%       0.690934     0.686767     0.689742     0.729809     0.700473
max       3.695028     2.887627     3.105366     3.392994     3.254008

In [36]:
frame.iloc[::2] = np.nan

In [37]:
frame.describe()

                a           b           c           d           e
count  500.000000  500.000000  500.000000  500.000000  500.000000
mean     0.008668   -0.011419   -0.060450    0.076304    0.064263
std      0.967126    1.053051    1.008939    1.024885    0.991922
min     -3.164421   -3.251290   -3.236800   -3.638763   -3.289153
25%     -0.625443   -0.679874   -0.675990   -0.558166   -0.599718
50%     -0.013402   -0.003862    0.029376    0.126703    0.077658
75%      0.690934    0.675625    0.667505    0.764380    0.701403
max      3.621098    2.645259    2.468325    2.913183    2.942090

In [38]:
#selecting specific percentile
series.describe(percentiles=[.05,.25,.75,.95])

count    500.000000
mean       0.082641
std        0.970463
min       -2.713318
5%        -1.554328
25%       -0.515717
50%        0.048751
75%        0.693557
95%        1.716238
max        3.334085
dtype: float64

In [39]:
#describe for non numeric values
s = pd.Series(['a', 'a', 'b', 'b', 'a', 'a', np.nan, 'c', 'd', 'a'])

In [40]:
s.describe()

count     9
unique    4
top       a
freq      5
dtype: object

In [41]:
frame = pd.DataFrame({'a': ['Yes', 'Yes', 'No', 'No'], 'b': range(4)});frame

     a  b
0  Yes  0
1  Yes  1
2   No  2
3   No  3

In [42]:
frame.describe()

              b
count  4.000000
mean   1.500000
std    1.290994
min    0.000000
25%    0.750000
50%    1.500000
75%    2.250000
max    3.000000

In [43]:
#controliing behaviour of describe with include and exclude
frame.describe(include=['object'])

          a
count     4
unique    2
top     Yes
freq      2

In [44]:
frame.describe(include=['number'])

              b
count  4.000000
mean   1.500000
std    1.290994
min    0.000000
25%    0.750000
50%    1.500000
75%    2.250000
max    3.000000

In [46]:
frame.describe(include='all')

          a         b
count     4  4.000000
unique    2       NaN
top     Yes       NaN
freq      2       NaN
mean    NaN  1.500000
std     NaN  1.290994
min     NaN  0.000000
25%     NaN  0.750000
50%     NaN  1.500000
75%     NaN  2.250000
max     NaN  3.000000

In [2]:
#idxmax and idxmin indexes for max and min 
s1 = pd.Series(np.random.rand(5)) ; s1

0    0.328615
1    0.778205
2    0.796530
3    0.711315
4    0.220324
dtype: float64

In [3]:
s1.idxmin()

4

In [4]:
s1.idxmax()

2

In [5]:
df1 = pd.DataFrame(np.random.randn(5,3), columns=['A', 'B', 'C']) ; df1

          A         B         C
0 -0.019460 -0.083473  1.124706
1  0.165533  0.684758  0.195504
2 -1.883769  2.198373 -1.382874
3  2.086523  0.448703  1.438547
4  0.365917 -0.198762 -1.796692

In [6]:
df1.idxmin(axis=0)

A    2
B    4
C    4
dtype: int64

In [7]:
df1.idxmax(axis = 1)

0    C
1    B
2    B
3    A
4    A
dtype: object

In [8]:
df1['A'].idxmax()

3

### Value count -- (Histogramming) / Node

In [9]:
data = np.random.randint(0,7, size=50) ; data

array([5, 6, 3, 6, 3, 5, 5, 5, 2, 5, 3, 3, 2, 2, 1, 5, 5, 4, 0, 6, 1, 4,
       6, 2, 5, 0, 6, 2, 3, 5, 1, 5, 4, 2, 1, 6, 5, 3, 2, 0, 2, 1, 4, 2,
       6, 1, 0, 4, 5, 3])

In [12]:
s = pd.Series(data)

In [13]:
s.value_counts()

5    12
2     9
6     7
3     7
1     6
4     5
0     4
dtype: int64

In [14]:
s.mode() #mode can also be applied to a dataframe..difference is that it will give columns

0    5
dtype: int32

In [15]:
pd.value_counts(data)

5    12
2     9
6     7
3     7
1     6
4     5
0     4
dtype: int64

### discretization and quantiling

In [16]:
arr = np.random.randn(20); arr

array([ 1.90739057, -0.01633133, -0.54770791,  0.11217933, -2.13687712,
       -0.50560091,  1.96121837, -0.47036161,  0.44033107, -0.29423314,
       -0.15563787, -1.07853552, -1.22609479, -0.43236127, -0.4091473 ,
        0.10580444, -1.49688183,  0.42937273, -0.01111181,  0.42043298])

In [17]:
factor = pd.cut(arr, 4) ; factor

[(0.937, 1.961], (-0.0878, 0.937], (-1.112, -0.0878], (-0.0878, 0.937], (-2.141, -1.112], ..., (-0.0878, 0.937], (-2.141, -1.112], (-0.0878, 0.937], (-0.0878, 0.937], (-0.0878, 0.937]]
Length: 20
Categories (4, interval[float64]): [(-2.141, -1.112] < (-1.112, -0.0878] < (-0.0878, 0.937] < (0.937, 1.961]]

In [18]:
#qcut computes sample quantiles
arr = np.random.randn(30)

In [19]:
factor = pd.qcut(arr, [0, .25, .5, .75, 1]); factor

[(0.0183, 0.41], (0.41, 2.726], (-2.206, -0.675], (0.0183, 0.41], (-2.206, -0.675], ..., (0.0183, 0.41], (-0.675, 0.0183], (0.0183, 0.41], (0.41, 2.726], (-0.675, 0.0183]]
Length: 30
Categories (4, interval[float64]): [(-2.206, -0.675] < (-0.675, 0.0183] < (0.0183, 0.41] < (0.41, 2.726]]

In [21]:
## pipe chaining

### Row - column wise  function application

In [25]:
df.apply(np.mean)

a   -0.018180
b    0.174723
c   -0.242387
d    0.101454
e   -0.000941
dtype: float64

In [26]:
df.mean()

a   -0.018180
b    0.174723
c   -0.242387
d    0.101454
e   -0.000941
dtype: float64

In [27]:
df.apply(np.mean, axis=1)

0    -0.408060
1     0.465683
2    -0.157571
3    -0.124134
4     0.024963
5    -0.312843
6    -0.662799
7    -0.284333
8     0.012173
9     0.634902
10    0.161462
11   -0.536556
12    0.172389
13    0.763905
14    0.465550
15    0.638824
16    0.708820
17   -0.305493
18   -0.279081
19    0.024347
20   -0.557983
21    0.367869
22   -0.407367
23   -0.123844
24    0.399156
25    0.402117
26   -0.116883
27    0.538648
28   -0.447680
29    0.271982
30   -0.363021
31   -0.827634
32   -0.404268
33   -0.299656
34    0.075439
35    0.037632
36   -0.118342
37    0.441667
38    0.237405
39   -0.017907
40   -0.071048
41   -0.187124
42    0.218481
43    0.285836
44   -0.206483
45    0.150508
46   -0.024319
47   -0.213425
48    0.582415
49   -0.477624
dtype: float64

In [28]:
df.apply(lambda x: x.max() - x.min())

a    3.668063
b    3.769911
c    4.818161
d    4.783371
e    4.590384
dtype: float64

In [29]:
df.apply(np.cumsum)

           a         b          c         d         e
0  -1.516541 -1.831851  -0.264283  0.945521  0.626857
1  -0.926636 -1.063455  -0.198840  0.521880  1.955169
2  -1.495679 -1.456746  -1.454012  0.208908  3.697792
3  -1.353765 -1.418857  -1.780622  0.727366  2.705470
4  -0.754937 -0.395713  -4.743674  2.121168  2.777562
5  -0.934269 -1.085871  -5.114957  3.012756  1.562533
6  -2.506708 -1.792620  -4.043658  2.371337  0.097844
7  -3.607104 -1.879338  -5.000520  2.549109  0.642385
8  -3.044075 -3.112677  -4.488965  2.127986  1.283131
9  -1.459641 -1.968449  -5.237906  1.123657  3.482249
10 -1.593480 -1.723539  -4.019611  1.457295  2.626556
11 -3.039703 -3.277410  -3.765981  1.324060  2.823475
12 -2.077389 -1.402891  -4.784019 -0.013788  3.204475
13  0.018234  0.030772  -5.317278  1.119112  2.895071
14  0.553496  0.156762  -5.821633  1.128548  5.056486
15  2.270235  1.326419  -4.686407  0.676615  4.680917
16  3.253188  1.769426  -4.336714  1.200638  5.925343
17  2.614427  1.678771  -4.251336  0.765347  5.477208
18  2.419007  2.256850  -5.505872  0.782521  4.936507
19  1.876180  3.606514  -6.505646  0.950244  5.083458
20  2.072932  2.368376  -7.707229  1.857290  3.629465
21  1.885396  3.284758  -8.038592  2.463541  4.465075
22  0.888906  3.532182  -8.023562  1.153449  4.472367
23 -0.436642  3.712450  -6.168453  0.137406  4.159362
24  0.283568  3.918842  -4.907591  1.494599  2.610485
25  1.228790  3.429541  -4.538951  2.100248  3.190861
26  1.842847  5.106210  -5.480175  0.031295  3.325899
27  1.138637  6.138457  -4.792254  1.001537  4.032938
28 -0.246523  6.168741  -6.094265  1.044920  4.408042
29 -0.080549  6.231220  -4.831963  0.618694  4.703421
30  1.118755  5.016345  -6.063642  1.065149  3.689113
31  0.708545  5.807433  -6.800337 -0.793464  1.765373
32  0.727837  5.000529  -6.953549 -1.410960  1.302355
33 -0.116816  5.895107  -7.609959 -1.720815  0.720414
34 -0.013257  5.891763  -7.799968 -1.193857  0.660446
35 -0.761773  6.737631  -9.149045 -1.028916  1.935392
36 -0.927751  6.585901  -9.372085 -1.476988  2.332504
37 -1.498216  7.476283  -8.782547 -0.740907  2.895302
38 -1.053613  6.562548  -8.561984 -0.291822  3.881812
39 -0.797614  7.625970  -9.567150 -1.684502  4.870701
40 -0.327734  6.991477 -10.897707 -0.735905  5.062033
41 -0.357770  7.699111 -10.092876 -0.762688  2.670766
42  0.828487  8.558304 -10.679276 -0.065560  1.606993
43  0.214175  8.970131 -10.975846  1.123641  2.346029
44  1.479562  7.074740 -10.524727  1.689350  0.926790
45  0.426086  7.430733 -10.760411  4.403767 -0.101919
46 -0.928209  7.331621 -10.503151  3.990495  1.385905
47 -1.483702  8.725849 -10.602271  4.439669 -0.870009
48  0.132009  8.800088 -10.466824  5.471509 -0.815173
49 -0.908976  8.736166 -12.119373  5.072723 -0.047050

In [30]:
df.apply(np.exp)

           a         b         c          d         e
0   0.219470  0.160117  0.767756   2.574153  1.871718
1   1.803817  2.156305  1.067632   0.654659  3.774667
2   0.566067  0.674832  0.285027   0.731270  5.712304
3   1.152477  1.038616  0.721366   1.679436  0.370715
4   1.819985  2.781928  0.051661   4.030145  1.074754
5   0.835828  0.501497  0.689849   2.439000  0.296702
6   0.207538  0.493245  2.919171   0.526545  0.231150
7   0.332739  0.916936  0.384096   1.194553  1.723816
8   1.755983  0.291318  1.667883   0.656309  1.897897
9   4.876530  3.140018  0.472867   0.366290  9.017054
10  0.874731  1.277506  3.381417   1.396038  0.424989
11  0.235458  0.211428  1.288695   0.875259  1.217646
12  2.617746  6.517685  0.361303   0.262410  1.463748
13  8.130509  4.194033  0.586690   3.104647  0.733884
14  1.707896  1.134271  0.603895   1.009480  8.683418
15  5.566344  3.220888  3.111878   0.636397  0.686898
16  2.672336  1.557385  1.418632   1.688808  3.470942
17  0.527946  0.913333  1.089128   0.647076  0.638819
18  0.822489  1.782611  0.285208   1.017323  0.582340
19  0.581103  3.856129  0.367963   1.182608  1.158297
20  1.217442  0.289923  0.300718   2.476995  0.233636
21  0.828999  2.500230  0.717944   1.833545  2.306218
22  0.369173  1.280722  1.015144   0.269795  1.007320
23  0.265657  1.197538  6.392394   0.362025  0.731246
24  2.054864  1.229235  3.528460   3.885272  0.212486
25  2.573386  0.613055  1.445767   1.832443  1.786710
26  1.847913  5.347715  0.390150   0.126318  1.144581
27  0.494499  2.807366  1.989576   2.638582  2.027977
28  0.250284  1.030748  0.271984   1.044338  1.455143
29  1.180542  1.064472  3.533548   0.652969  1.343636
30  3.317806  0.296747  0.291802   1.562762  0.362653
31  0.663511  2.205794  0.478693   0.155889  0.146060
32  1.019480  0.446238  0.857948   0.539293  0.629381
33  0.429707  2.446304  0.518710   0.733553  0.558813
34  1.109111  0.996661  0.826952   1.693772  0.941795
35  0.473068  2.330000  0.259480   1.179324  3.578507
36  0.847065  0.859220  0.800083   0.638858  1.487523
37  0.565262  2.436060  1.803155   2.087739  1.755578
38  1.559872  0.401024  1.246778   1.566878  2.681858
39  1.291751  2.896264  0.365984   0.248409  2.688247
40  1.599801  0.530204  0.264330   2.582084  1.210860
41  0.970411  2.029185  2.236318   0.973573  0.091514
42  3.274800  2.361255  0.556327   2.007977  0.345151
43  0.541013  1.509572  0.743363   3.284454  2.093916
44  3.544464  0.150260  1.570069   1.760696  0.241898
45  0.348724  1.427598  0.790030  15.095812  0.357468
46  0.258129  0.905641  1.293381   0.661482  4.427455
47  0.573789  4.031859  0.905634   1.567016  0.104778
48  5.031463  1.077064  1.145049   2.806225  1.056367
49  0.353107  0.938079  0.191561   0.671134  2.155716

In [31]:
df.apply('mean')

a   -0.018180
b    0.174723
c   -0.242387
d    0.101454
e   -0.000941
dtype: float64

In [32]:
df.apply('mean', axis=1)

0    -0.408060
1     0.465683
2    -0.157571
3    -0.124134
4     0.024963
5    -0.312843
6    -0.662799
7    -0.284333
8     0.012173
9     0.634902
10    0.161462
11   -0.536556
12    0.172389
13    0.763905
14    0.465550
15    0.638824
16    0.708820
17   -0.305493
18   -0.279081
19    0.024347
20   -0.557983
21    0.367869
22   -0.407367
23   -0.123844
24    0.399156
25    0.402117
26   -0.116883
27    0.538648
28   -0.447680
29    0.271982
30   -0.363021
31   -0.827634
32   -0.404268
33   -0.299656
34    0.075439
35    0.037632
36   -0.118342
37    0.441667
38    0.237405
39   -0.017907
40   -0.071048
41   -0.187124
42    0.218481
43    0.285836
44   -0.206483
45    0.150508
46   -0.024319
47   -0.213425
48    0.582415
49   -0.477624
dtype: float64