In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
x = pd.Series(np.random.rand(5), index= ['a','b','c','d','e'])
x

a    0.920375
b    0.268633
c    0.592837
d    0.848877
e    0.609035
dtype: float64

In [4]:
y = pd.Series(np.random.rand(5), index= list('ABCDE'))
y

A    0.379087
B    0.803320
C    0.977361
D    0.886331
E    0.283971
dtype: float64

In [6]:
#Dataframe created by both dictionart and the normal form
x = pd.DataFrame(np.random.rand(5,4), index = pd.date_range('1/11/2017', periods= 5), columns= list('ABCD'))
x

                   A         B         C         D
2017-01-11  0.996824  0.691769  0.751834  0.638385
2017-01-12  0.567470  0.626738  0.546953  0.499058
2017-01-13  0.348437  0.681777  0.615873  0.442660
2017-01-14  0.136939  0.500838  0.624774  0.857084
2017-01-15  0.896594  0.809178  0.021577  0.192603

In [8]:
#using a dictionary to create a dataframe
y = pd.DataFrame({'A':np.random.rand(5), 'B':np.random.rand(5), 'C':np.random.rand(5)}, index = pd.date_range('1/11/2017', 
                                                                                                              periods=5))
y

                   A         B         C
2017-01-11  0.284362  0.577777  0.056713
2017-01-12  0.263795  0.224627  0.893024
2017-01-13  0.716673  0.276968  0.756734
2017-01-14  0.535894  0.395638  0.740537
2017-01-15  0.995288  0.902276  0.379898

In [10]:
#creating a panel
x = pd.Panel(np.random.rand(2,5,4), items=['Item1', 'Item2'], major_axis=pd.date_range('11/1/2017', periods = 5), 
             minor_axis=list('ABCD'))
x

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 5 (major_axis) x 4 (minor_axis)
Items axis: Item1 to Item2
Major_axis axis: 2017-11-01 00:00:00 to 2017-11-05 00:00:00
Minor_axis axis: A to D

In [13]:
#dictionary for creating a panel
y = pd.Panel({'Item1':pd.DataFrame(np.random.rand(5,4)), 'Item2':pd.DataFrame(np.random.rand(5,4))})
                                                                             
y

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 5 (major_axis) x 4 (minor_axis)
Items axis: Item1 to Item2
Major_axis axis: 0 to 4
Minor_axis axis: 0 to 3

In [15]:
#panel4d creating using the normal way
x = pd.Panel4D(np.random.rand(2,3,5,4), labels=['Label1', 'Labe;2'], items=['Item1', 'Item2', 'Item3'],
               major_axis=pd.date_range('11/1/2017', periods=5), minor_axis=list('ABCD')) 
x

<class 'pandas.core.panelnd.Panel4D'>
Dimensions: 2 (labels) x 3 (items) x 5 (major_axis) x 4 (minor_axis)
Labels axis: Label1 to Labe;2
Items axis: Item1 to Item3
Major_axis axis: 2017-11-01 00:00:00 to 2017-11-05 00:00:00
Minor_axis axis: A to D

In [16]:
#using dictionary to create a panel4D
y = pd.Panel4D({'Label1':np.random.rand(3,5,4),'Label2':np.random.rand(3,5,4)})
y

<class 'pandas.core.panelnd.Panel4D'>
Dimensions: 2 (labels) x 3 (items) x 5 (major_axis) x 4 (minor_axis)
Labels axis: Label1 to Label2
Items axis: 0 to 2
Major_axis axis: 0 to 4
Minor_axis axis: 0 to 3