In [1]:
""" loading real datasets in pandas """
import pandas as pd
import numpy as np

In [3]:
insurance = pd.read_csv(r'C:\Users\jeffnerd\Desktop\insurance.csv')

In [4]:
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [13]:
insurance[['age','sex','bmi','children','smoker']]

      age     sex     bmi  children smoker
0      19  female  27.900         0    yes
1      18    male  33.770         1     no
2      28    male  33.000         3     no
3      33    male  22.705         0     no
4      32    male  28.880         0     no
5      31  female  25.740         0     no
6      46  female  33.440         1     no
7      37  female  27.740         3     no
8      37    male  29.830         2     no
9      60  female  25.840         0     no
10     25    male  26.220         0     no
11     62  female  26.290         0    yes
12     23    male  34.400         0     no
13     56  female  39.820         0     no
14     27    male  42.130         0    yes
15     19    male  24.600         1     no
16     52  female  30.780         1     no
17     23    male  23.845         0     no
18     56    male  40.300         0     no
19     30    male  35.300         0    yes
20     60  female  36.005         0     no
21     30  female  32.400         1     no
22     18    male  34.100         0     no
23     34  female  31.920         1    yes
24     37    male  28.025         2     no
25     59  female  27.720         3     no
26     63  female  23.085         0     no
27     55  female  32.775         2     no
28     23    male  17.385         1     no
29     31    male  36.300         2    yes
...   ...     ...     ...       ...    ...
1308   25  female  30.200         0    yes
1309   41    male  32.200         2     no
1310   42    male  26.315         1     no
1311   33  female  26.695         0     no
1312   34    male  42.900         1     no
1313   19  female  34.700         2    yes
1314   30  female  23.655         3    yes
1315   18    male  28.310         1     no
1316   19  female  20.600         0     no
1317   18    male  53.130         0     no
1318   35    male  39.710         4     no
1319   39  female  26.315         2     no
1320   31    male  31.065         3     no
1321   62    male  26.695         0    yes
1322   62    male  38.830         0     no
1323   42  female  40.370         2    yes
1324   31    male  25.935         1     no
1325   61    male  33.535         0     no
1326   42  female  32.870         0     no
1327   51    male  30.030         1     no
1328   23  female  24.225         2     no
1329   52    male  38.600         2     no
1330   57  female  25.740         2     no
1331   23  female  33.400         0     no
1332   52  female  44.700         3     no
1333   50    male  30.970         3     no
1334   18  female  31.920         0     no
1335   18  female  36.850         0     no
1336   21  female  25.800         0     no
1337   61  female  29.070         0    yes

[1338 rows x 5 columns]

In [14]:
insurance[:1000]

     age     sex     bmi  children smoker     region      charges
0     19  female  27.900         0    yes  southwest  16884.92400
1     18    male  33.770         1     no  southeast   1725.55230
2     28    male  33.000         3     no  southeast   4449.46200
3     33    male  22.705         0     no  northwest  21984.47061
4     32    male  28.880         0     no  northwest   3866.85520
5     31  female  25.740         0     no  southeast   3756.62160
6     46  female  33.440         1     no  southeast   8240.58960
7     37  female  27.740         3     no  northwest   7281.50560
8     37    male  29.830         2     no  northeast   6406.41070
9     60  female  25.840         0     no  northwest  28923.13692
10    25    male  26.220         0     no  northeast   2721.32080
11    62  female  26.290         0    yes  southeast  27808.72510
12    23    male  34.400         0     no  southwest   1826.84300
13    56  female  39.820         0     no  southeast  11090.71780
14    27    male  42.130         0    yes  southeast  39611.75770
15    19    male  24.600         1     no  southwest   1837.23700
16    52  female  30.780         1     no  northeast  10797.33620
17    23    male  23.845         0     no  northeast   2395.17155
18    56    male  40.300         0     no  southwest  10602.38500
19    30    male  35.300         0    yes  southwest  36837.46700
20    60  female  36.005         0     no  northeast  13228.84695
21    30  female  32.400         1     no  southwest   4149.73600
22    18    male  34.100         0     no  southeast   1137.01100
23    34  female  31.920         1    yes  northeast  37701.87680
24    37    male  28.025         2     no  northwest   6203.90175
25    59  female  27.720         3     no  southeast  14001.13380
26    63  female  23.085         0     no  northeast  14451.83515
27    55  female  32.775         2     no  northwest  12268.63225
28    23    male  17.385         1     no  northwest   2775.19215
29    31    male  36.300         2    yes  southwest  38711.00000
..   ...     ...     ...       ...    ...        ...          ...
970   50  female  28.160         3     no  southeast  10702.64240
971   34  female  23.560         0     no  northeast   4992.37640
972   22  female  20.235         0     no  northwest   2527.81865
973   19  female  40.500         0     no  southwest   1759.33800
974   26    male  35.420         0     no  southeast   2322.62180
975   29    male  22.895         0    yes  northeast  16138.76205
976   48    male  40.150         0     no  southeast   7804.16050
977   26    male  29.150         1     no  southeast   2902.90650
978   45  female  39.995         3     no  northeast   9704.66805
979   36  female  29.920         0     no  southeast   4889.03680
980   54    male  25.460         1     no  northeast  25517.11363
981   34    male  21.375         0     no  northeast   4500.33925
982   31    male  25.900         3    yes  southwest  19199.94400
983   27  female  30.590         1     no  northeast  16796.41194
984   20    male  30.115         5     no  northeast   4915.05985
985   44  female  25.800         1     no  southwest   7624.63000
986   43    male  30.115         3     no  northwest   8410.04685
987   45  female  27.645         1     no  northwest  28340.18885
988   34    male  34.675         0     no  northeast   4518.82625
989   24  female  20.520         0    yes  northeast  14571.89080
990   26  female  19.800         1     no  southwest   3378.91000
991   38  female  27.835         2     no  northeast   7144.86265
992   50  female  31.600         2     no  southwest  10118.42400
993   38    male  28.270         1     no  southeast   5484.46730
994   27  female  20.045         3    yes  northwest  16420.49455
995   39  female  23.275         3     no  northeast   7986.47525
996   39  female  34.100         3     no  southwest   7418.52200
997   63  female  36.850         0     no  southeast  13887.96850
998   33  female  36.290         3     no  northeast   6551.75010
999   36  female  26.885         0     no  northwest   5267.81815

[1000 rows x 7 columns]

In [15]:
insurance.iloc[3:500,:]

     age     sex     bmi  children smoker     region      charges
3     33    male  22.705         0     no  northwest  21984.47061
4     32    male  28.880         0     no  northwest   3866.85520
5     31  female  25.740         0     no  southeast   3756.62160
6     46  female  33.440         1     no  southeast   8240.58960
7     37  female  27.740         3     no  northwest   7281.50560
8     37    male  29.830         2     no  northeast   6406.41070
9     60  female  25.840         0     no  northwest  28923.13692
10    25    male  26.220         0     no  northeast   2721.32080
11    62  female  26.290         0    yes  southeast  27808.72510
12    23    male  34.400         0     no  southwest   1826.84300
13    56  female  39.820         0     no  southeast  11090.71780
14    27    male  42.130         0    yes  southeast  39611.75770
15    19    male  24.600         1     no  southwest   1837.23700
16    52  female  30.780         1     no  northeast  10797.33620
17    23    male  23.845         0     no  northeast   2395.17155
18    56    male  40.300         0     no  southwest  10602.38500
19    30    male  35.300         0    yes  southwest  36837.46700
20    60  female  36.005         0     no  northeast  13228.84695
21    30  female  32.400         1     no  southwest   4149.73600
22    18    male  34.100         0     no  southeast   1137.01100
23    34  female  31.920         1    yes  northeast  37701.87680
24    37    male  28.025         2     no  northwest   6203.90175
25    59  female  27.720         3     no  southeast  14001.13380
26    63  female  23.085         0     no  northeast  14451.83515
27    55  female  32.775         2     no  northwest  12268.63225
28    23    male  17.385         1     no  northwest   2775.19215
29    31    male  36.300         2    yes  southwest  38711.00000
30    22    male  35.600         0    yes  southwest  35585.57600
31    18  female  26.315         0     no  northeast   2198.18985
32    19  female  28.600         5     no  southwest   4687.79700
..   ...     ...     ...       ...    ...        ...          ...
470   27    male  32.670         0     no  southeast   2497.03830
471   18  female  30.115         0     no  northeast   2203.47185
472   19  female  29.800         0     no  southwest   1744.46500
473   47  female  33.345         0     no  northeast  20878.78443
474   54    male  25.100         3    yes  southwest  25382.29700
475   61    male  28.310         1    yes  northwest  28868.66390
476   24    male  28.500         0    yes  northeast  35147.52848
477   25    male  35.625         0     no  northwest   2534.39375
478   21    male  36.850         0     no  southeast   1534.30450
479   23    male  32.560         0     no  southeast   1824.28540
480   63    male  41.325         3     no  northwest  15555.18875
481   49    male  37.510         2     no  southeast   9304.70190
482   18  female  31.350         0     no  southeast   1622.18850
483   51  female  39.500         1     no  southwest   9880.06800
484   48    male  34.300         3     no  southwest   9563.02900
485   31  female  31.065         0     no  northeast   4347.02335
486   54  female  21.470         3     no  northwest  12475.35130
487   19    male  28.700         0     no  southwest   1253.93600
488   44  female  38.060         0    yes  southeast  48885.13561
489   53    male  31.160         1     no  northwest  10461.97940
490   19  female  32.900         0     no  southwest   1748.77400
491   61  female  25.080         0     no  southeast  24513.09126
492   18  female  25.080         0     no  northeast   2196.47320
493   61    male  43.400         0     no  southwest  12574.04900
494   21    male  25.700         4    yes  southwest  17942.10600
495   20    male  27.930         0     no  northeast   1967.02270
496   31  female  23.600         2     no  southwest   4931.64700
497   45    male  28.700         2     no  southwest   8027.96800
498   44  female  23.980         2     no  southeast   8211.10020
499   62  female  39.200         0     no  southwest  13470.86000

[497 rows x 7 columns]

In [21]:
insurance.iloc[4:700,:]

     age     sex     bmi  children smoker     region      charges
4     32    male  28.880         0     no  northwest   3866.85520
5     31  female  25.740         0     no  southeast   3756.62160
6     46  female  33.440         1     no  southeast   8240.58960
7     37  female  27.740         3     no  northwest   7281.50560
8     37    male  29.830         2     no  northeast   6406.41070
9     60  female  25.840         0     no  northwest  28923.13692
10    25    male  26.220         0     no  northeast   2721.32080
11    62  female  26.290         0    yes  southeast  27808.72510
12    23    male  34.400         0     no  southwest   1826.84300
13    56  female  39.820         0     no  southeast  11090.71780
14    27    male  42.130         0    yes  southeast  39611.75770
15    19    male  24.600         1     no  southwest   1837.23700
16    52  female  30.780         1     no  northeast  10797.33620
17    23    male  23.845         0     no  northeast   2395.17155
18    56    male  40.300         0     no  southwest  10602.38500
19    30    male  35.300         0    yes  southwest  36837.46700
20    60  female  36.005         0     no  northeast  13228.84695
21    30  female  32.400         1     no  southwest   4149.73600
22    18    male  34.100         0     no  southeast   1137.01100
23    34  female  31.920         1    yes  northeast  37701.87680
24    37    male  28.025         2     no  northwest   6203.90175
25    59  female  27.720         3     no  southeast  14001.13380
26    63  female  23.085         0     no  northeast  14451.83515
27    55  female  32.775         2     no  northwest  12268.63225
28    23    male  17.385         1     no  northwest   2775.19215
29    31    male  36.300         2    yes  southwest  38711.00000
30    22    male  35.600         0    yes  southwest  35585.57600
31    18  female  26.315         0     no  northeast   2198.18985
32    19  female  28.600         5     no  southwest   4687.79700
33    63    male  28.310         0     no  northwest  13770.09790
..   ...     ...     ...       ...    ...        ...          ...
670   30    male  31.570         3     no  southeast   4837.58230
671   29  female  31.160         0     no  northeast   3943.59540
672   36    male  29.700         0     no  southeast   4399.73100
673   41  female  31.020         0     no  southeast   6185.32080
674   44  female  43.890         2    yes  southeast  46200.98510
675   45    male  21.375         0     no  northwest   7222.78625
676   55  female  40.810         3     no  southeast  12485.80090
677   60    male  31.350         3    yes  northwest  46130.52650
678   56    male  36.100         3     no  southwest  12363.54700
679   49  female  23.180         2     no  northwest  10156.78320
680   21  female  17.400         1     no  southwest   2585.26900
681   19    male  20.300         0     no  southwest   1242.26000
682   39    male  35.300         2    yes  southwest  40103.89000
683   53    male  24.320         0     no  northwest   9863.47180
684   33  female  18.500         1     no  southwest   4766.02200
685   53    male  26.410         2     no  northeast  11244.37690
686   42    male  26.125         2     no  northeast   7729.64575
687   40    male  41.690         0     no  southeast   5438.74910
688   47  female  24.100         1     no  southwest  26236.57997
689   27    male  31.130         1    yes  southeast  34806.46770
690   21    male  27.360         0     no  northeast   2104.11340
691   47    male  36.200         1     no  southwest   8068.18500
692   20    male  32.395         1     no  northwest   2362.22905
693   24    male  23.655         0     no  northwest   2352.96845
694   27  female  34.800         1     no  southwest   3577.99900
695   26  female  40.185         0     no  northwest   3201.24515
696   53  female  32.300         2     no  northeast  29186.48236
697   41    male  35.750         1    yes  southeast  40273.64550
698   56    male  33.725         0     no  northwest  10976.24575
699   23  female  39.270         2     no  southeast   3500.61230

[696 rows x 7 columns]

In [23]:
insurance[lambda x: 'sex']

0       female
1         male
2         male
3         male
4         male
5       female
6       female
7       female
8         male
9       female
10        male
11      female
12        male
13      female
14        male
15        male
16      female
17        male
18        male
19        male
20      female
21      female
22        male
23      female
24        male
25      female
26      female
27      female
28        male
29        male
         ...
1308    female
1309      male
1310      male
1311    female
1312      male
1313    female
1314    female
1315      male
1316    female
1317      male
1318      male
1319    female
1320      male
1321      male
1322      male
1323    female
1324      male
1325      male
1326    female
1327      male
1328    female
1329      male
1330    female
1331    female
1332    female
1333      male
1334    female
1335    female
1336    female
1337    female
Name: sex, Length: 1338, dtype: object

In [25]:
insurance[lambda x: ['sex','bmi']]

         sex     bmi
0     female  27.900
1       male  33.770
2       male  33.000
3       male  22.705
4       male  28.880
5     female  25.740
6     female  33.440
7     female  27.740
8       male  29.830
9     female  25.840
10      male  26.220
11    female  26.290
12      male  34.400
13    female  39.820
14      male  42.130
15      male  24.600
16    female  30.780
17      male  23.845
18      male  40.300
19      male  35.300
20    female  36.005
21    female  32.400
22      male  34.100
23    female  31.920
24      male  28.025
25    female  27.720
26    female  23.085
27    female  32.775
28      male  17.385
29      male  36.300
...      ...     ...
1308  female  30.200
1309    male  32.200
1310    male  26.315
1311  female  26.695
1312    male  42.900
1313  female  34.700
1314  female  23.655
1315    male  28.310
1316  female  20.600
1317    male  53.130
1318    male  39.710
1319  female  26.315
1320    male  31.065
1321    male  26.695
1322    male  38.830
1323  female  40.370
1324    male  25.935
1325    male  33.535
1326  female  32.870
1327    male  30.030
1328  female  24.225
1329    male  38.600
1330  female  25.740
1331  female  33.400
1332  female  44.700
1333    male  30.970
1334  female  31.920
1335  female  36.850
1336  female  25.800
1337  female  29.070

[1338 rows x 2 columns]

In [28]:
insurance.set_index(['sex', 'smoker'])

               age     bmi  children     region      charges
sex    smoker
female yes      19  27.900         0  southwest  16884.92400
male   no       18  33.770         1  southeast   1725.55230
       no       28  33.000         3  southeast   4449.46200
       no       33  22.705         0  northwest  21984.47061
       no       32  28.880         0  northwest   3866.85520
female no       31  25.740         0  southeast   3756.62160
       no       46  33.440         1  southeast   8240.58960
       no       37  27.740         3  northwest   7281.50560
male   no       37  29.830         2  northeast   6406.41070
female no       60  25.840         0  northwest  28923.13692
male   no       25  26.220         0  northeast   2721.32080
female yes      62  26.290         0  southeast  27808.72510
male   no       23  34.400         0  southwest   1826.84300
female no       56  39.820         0  southeast  11090.71780
male   yes      27  42.130         0  southeast  39611.75770
       no       19  24.600         1  southwest   1837.23700
female no       52  30.780         1  northeast  10797.33620
male   no       23  23.845         0  northeast   2395.17155
       no       56  40.300         0  southwest  10602.38500
       yes      30  35.300         0  southwest  36837.46700
female no       60  36.005         0  northeast  13228.84695
       no       30  32.400         1  southwest   4149.73600
male   no       18  34.100         0  southeast   1137.01100
female yes      34  31.920         1  northeast  37701.87680
male   no       37  28.025         2  northwest   6203.90175
female no       59  27.720         3  southeast  14001.13380
       no       63  23.085         0  northeast  14451.83515
       no       55  32.775         2  northwest  12268.63225
male   no       23  17.385         1  northwest   2775.19215
       yes      31  36.300         2  southwest  38711.00000
...            ...     ...       ...        ...          ...
female yes      25  30.200         0  southwest  33900.65300
male   no       41  32.200         2  southwest   6875.96100
       no       42  26.315         1  northwest   6940.90985
female no       33  26.695         0  northwest   4571.41305
male   no       34  42.900         1  southwest   4536.25900
female yes      19  34.700         2  southwest  36397.57600
       yes      30  23.655         3  northwest  18765.87545
male   no       18  28.310         1  northeast  11272.33139
female no       19  20.600         0  southwest   1731.67700
male   no       18  53.130         0  southeast   1163.46270
       no       35  39.710         4  northeast  19496.71917
female no       39  26.315         2  northwest   7201.70085
male   no       31  31.065         3  northwest   5425.02335
       yes      62  26.695         0  northeast  28101.33305
       no       62  38.830         0  southeast  12981.34570
female yes      42  40.370         2  southeast  43896.37630
male   no       31  25.935         1  northwest   4239.89265
       no       61  33.535         0  northeast  13143.33665
female no       42  32.870         0  northeast   7050.02130
male   no       51  30.030         1  southeast   9377.90470
female no       23  24.225         2  northeast  22395.74424
male   no       52  38.600         2  southwest  10325.20600
female no       57  25.740         2  southeast  12629.16560
       no       23  33.400         0  southwest  10795.93733
       no       52  44.700         3  southwest  11411.68500
male   no       50  30.970         3  northwest  10600.54830
female no       18  31.920         0  northeast   2205.98080
       no       18  36.850         0  southeast   1629.83350
       no       21  25.800         0  southwest   2007.94500
       yes      61  29.070         0  northwest  29141.36030

[1338 rows x 5 columns]

In [30]:
insurance.reset_index()

      index  age     sex     bmi  children smoker     region      charges
0         0   19  female  27.900         0    yes  southwest  16884.92400
1         1   18    male  33.770         1     no  southeast   1725.55230
2         2   28    male  33.000         3     no  southeast   4449.46200
3         3   33    male  22.705         0     no  northwest  21984.47061
4         4   32    male  28.880         0     no  northwest   3866.85520
5         5   31  female  25.740         0     no  southeast   3756.62160
6         6   46  female  33.440         1     no  southeast   8240.58960
7         7   37  female  27.740         3     no  northwest   7281.50560
8         8   37    male  29.830         2     no  northeast   6406.41070
9         9   60  female  25.840         0     no  northwest  28923.13692
10       10   25    male  26.220         0     no  northeast   2721.32080
11       11   62  female  26.290         0    yes  southeast  27808.72510
12       12   23    male  34.400         0     no  southwest   1826.84300
13       13   56  female  39.820         0     no  southeast  11090.71780
14       14   27    male  42.130         0    yes  southeast  39611.75770
15       15   19    male  24.600         1     no  southwest   1837.23700
16       16   52  female  30.780         1     no  northeast  10797.33620
17       17   23    male  23.845         0     no  northeast   2395.17155
18       18   56    male  40.300         0     no  southwest  10602.38500
19       19   30    male  35.300         0    yes  southwest  36837.46700
20       20   60  female  36.005         0     no  northeast  13228.84695
21       21   30  female  32.400         1     no  southwest   4149.73600
22       22   18    male  34.100         0     no  southeast   1137.01100
23       23   34  female  31.920         1    yes  northeast  37701.87680
24       24   37    male  28.025         2     no  northwest   6203.90175
25       25   59  female  27.720         3     no  southeast  14001.13380
26       26   63  female  23.085         0     no  northeast  14451.83515
27       27   55  female  32.775         2     no  northwest  12268.63225
28       28   23    male  17.385         1     no  northwest   2775.19215
29       29   31    male  36.300         2    yes  southwest  38711.00000
...     ...  ...     ...     ...       ...    ...        ...          ...
1308   1308   25  female  30.200         0    yes  southwest  33900.65300
1309   1309   41    male  32.200         2     no  southwest   6875.96100
1310   1310   42    male  26.315         1     no  northwest   6940.90985
1311   1311   33  female  26.695         0     no  northwest   4571.41305
1312   1312   34    male  42.900         1     no  southwest   4536.25900
1313   1313   19  female  34.700         2    yes  southwest  36397.57600
1314   1314   30  female  23.655         3    yes  northwest  18765.87545
1315   1315   18    male  28.310         1     no  northeast  11272.33139
1316   1316   19  female  20.600         0     no  southwest   1731.67700
1317   1317   18    male  53.130         0     no  southeast   1163.46270
1318   1318   35    male  39.710         4     no  northeast  19496.71917
1319   1319   39  female  26.315         2     no  northwest   7201.70085
1320   1320   31    male  31.065         3     no  northwest   5425.02335
1321   1321   62    male  26.695         0    yes  northeast  28101.33305
1322   1322   62    male  38.830         0     no  southeast  12981.34570
1323   1323   42  female  40.370         2    yes  southeast  43896.37630
1324   1324   31    male  25.935         1     no  northwest   4239.89265
1325   1325   61    male  33.535         0     no  northeast  13143.33665
1326   1326   42  female  32.870         0     no  northeast   7050.02130
1327   1327   51    male  30.030         1     no  southeast   9377.90470
1328   1328   23  female  24.225         2     no  northeast  22395.74424
1329   1329   52    male  38.600         2     no  southwest  10325.20600
1330   1330   57  female  25.740         2     no  southeast  12629.16560
1331   1331   23  female  33.400         0     no  southwest  10795.93733
1332   1332   52  female  44.700         3     no  southwest  11411.68500
1333   1333   50    male  30.970         3     no  northwest  10600.54830
1334   1334   18  female  31.920         0     no  northeast   2205.98080
1335   1335   18  female  36.850         0     no  southeast   1629.83350
1336   1336   21  female  25.800         0     no  southwest   2007.94500
1337   1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 8 columns]

In [32]:
insurance.set_index('age', drop=False,inplace=True)

In [33]:
insurance

     age     sex     bmi  children smoker     region      charges
age
19    19  female  27.900         0    yes  southwest  16884.92400
18    18    male  33.770         1     no  southeast   1725.55230
28    28    male  33.000         3     no  southeast   4449.46200
33    33    male  22.705         0     no  northwest  21984.47061
32    32    male  28.880         0     no  northwest   3866.85520
31    31  female  25.740         0     no  southeast   3756.62160
46    46  female  33.440         1     no  southeast   8240.58960
37    37  female  27.740         3     no  northwest   7281.50560
37    37    male  29.830         2     no  northeast   6406.41070
60    60  female  25.840         0     no  northwest  28923.13692
25    25    male  26.220         0     no  northeast   2721.32080
62    62  female  26.290         0    yes  southeast  27808.72510
23    23    male  34.400         0     no  southwest   1826.84300
56    56  female  39.820         0     no  southeast  11090.71780
27    27    male  42.130         0    yes  southeast  39611.75770
19    19    male  24.600         1     no  southwest   1837.23700
52    52  female  30.780         1     no  northeast  10797.33620
23    23    male  23.845         0     no  northeast   2395.17155
56    56    male  40.300         0     no  southwest  10602.38500
30    30    male  35.300         0    yes  southwest  36837.46700
60    60  female  36.005         0     no  northeast  13228.84695
30    30  female  32.400         1     no  southwest   4149.73600
18    18    male  34.100         0     no  southeast   1137.01100
34    34  female  31.920         1    yes  northeast  37701.87680
37    37    male  28.025         2     no  northwest   6203.90175
59    59  female  27.720         3     no  southeast  14001.13380
63    63  female  23.085         0     no  northeast  14451.83515
55    55  female  32.775         2     no  northwest  12268.63225
23    23    male  17.385         1     no  northwest   2775.19215
31    31    male  36.300         2    yes  southwest  38711.00000
..   ...     ...     ...       ...    ...        ...          ...
25    25  female  30.200         0    yes  southwest  33900.65300
41    41    male  32.200         2     no  southwest   6875.96100
42    42    male  26.315         1     no  northwest   6940.90985
33    33  female  26.695         0     no  northwest   4571.41305
34    34    male  42.900         1     no  southwest   4536.25900
19    19  female  34.700         2    yes  southwest  36397.57600
30    30  female  23.655         3    yes  northwest  18765.87545
18    18    male  28.310         1     no  northeast  11272.33139
19    19  female  20.600         0     no  southwest   1731.67700
18    18    male  53.130         0     no  southeast   1163.46270
35    35    male  39.710         4     no  northeast  19496.71917
39    39  female  26.315         2     no  northwest   7201.70085
31    31    male  31.065         3     no  northwest   5425.02335
62    62    male  26.695         0    yes  northeast  28101.33305
62    62    male  38.830         0     no  southeast  12981.34570
42    42  female  40.370         2    yes  southeast  43896.37630
31    31    male  25.935         1     no  northwest   4239.89265
61    61    male  33.535         0     no  northeast  13143.33665
42    42  female  32.870         0     no  northeast   7050.02130
51    51    male  30.030         1     no  southeast   9377.90470
23    23  female  24.225         2     no  northeast  22395.74424
52    52    male  38.600         2     no  southwest  10325.20600
57    57  female  25.740         2     no  southeast  12629.16560
23    23  female  33.400         0     no  southwest  10795.93733
52    52  female  44.700         3     no  southwest  11411.68500
50    50    male  30.970         3     no  northwest  10600.54830
18    18  female  31.920         0     no  northeast   2205.98080
18    18  female  36.850         0     no  southeast   1629.83350
21    21  female  25.800         0     no  southwest   2007.94500
61    61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [34]:
insurance.set_index(['age','smoker','region'], append=True)

                             sex     bmi  children      charges
age age smoker region
19  19  yes    southwest  female  27.900         0  16884.92400
18  18  no     southeast    male  33.770         1   1725.55230
28  28  no     southeast    male  33.000         3   4449.46200
33  33  no     northwest    male  22.705         0  21984.47061
32  32  no     northwest    male  28.880         0   3866.85520
31  31  no     southeast  female  25.740         0   3756.62160
46  46  no     southeast  female  33.440         1   8240.58960
37  37  no     northwest  female  27.740         3   7281.50560
               northeast    male  29.830         2   6406.41070
60  60  no     northwest  female  25.840         0  28923.13692
25  25  no     northeast    male  26.220         0   2721.32080
62  62  yes    southeast  female  26.290         0  27808.72510
23  23  no     southwest    male  34.400         0   1826.84300
56  56  no     southeast  female  39.820         0  11090.71780
27  27  yes    southeast    male  42.130         0  39611.75770
19  19  no     southwest    male  24.600         1   1837.23700
52  52  no     northeast  female  30.780         1  10797.33620
23  23  no     northeast    male  23.845         0   2395.17155
56  56  no     southwest    male  40.300         0  10602.38500
30  30  yes    southwest    male  35.300         0  36837.46700
60  60  no     northeast  female  36.005         0  13228.84695
30  30  no     southwest  female  32.400         1   4149.73600
18  18  no     southeast    male  34.100         0   1137.01100
34  34  yes    northeast  female  31.920         1  37701.87680
37  37  no     northwest    male  28.025         2   6203.90175
59  59  no     southeast  female  27.720         3  14001.13380
63  63  no     northeast  female  23.085         0  14451.83515
55  55  no     northwest  female  32.775         2  12268.63225
23  23  no     northwest    male  17.385         1   2775.19215
31  31  yes    southwest    male  36.300         2  38711.00000
...                          ...     ...       ...          ...
25  25  yes    southwest  female  30.200         0  33900.65300
41  41  no     southwest    male  32.200         2   6875.96100
42  42  no     northwest    male  26.315         1   6940.90985
33  33  no     northwest  female  26.695         0   4571.41305
34  34  no     southwest    male  42.900         1   4536.25900
19  19  yes    southwest  female  34.700         2  36397.57600
30  30  yes    northwest  female  23.655         3  18765.87545
18  18  no     northeast    male  28.310         1  11272.33139
19  19  no     southwest  female  20.600         0   1731.67700
18  18  no     southeast    male  53.130         0   1163.46270
35  35  no     northeast    male  39.710         4  19496.71917
39  39  no     northwest  female  26.315         2   7201.70085
31  31  no     northwest    male  31.065         3   5425.02335
62  62  yes    northeast    male  26.695         0  28101.33305
        no     southeast    male  38.830         0  12981.34570
42  42  yes    southeast  female  40.370         2  43896.37630
31  31  no     northwest    male  25.935         1   4239.89265
61  61  no     northeast    male  33.535         0  13143.33665
42  42  no     northeast  female  32.870         0   7050.02130
51  51  no     southeast    male  30.030         1   9377.90470
23  23  no     northeast  female  24.225         2  22395.74424
52  52  no     southwest    male  38.600         2  10325.20600
57  57  no     southeast  female  25.740         2  12629.16560
23  23  no     southwest  female  33.400         0  10795.93733
52  52  no     southwest  female  44.700         3  11411.68500
50  50  no     northwest    male  30.970         3  10600.54830
18  18  no     northeast  female  31.920         0   2205.98080
               southeast  female  36.850         0   1629.83350
21  21  no     southwest  female  25.800         0   2007.94500
61  61  yes    northwest  female  29.070         0  29141.36030

[1338 rows x 4 columns]