In [2]:
import os
import sys

os.chdir("C:/dataanalytics/python")
os.curdir

#Configure the environment . Set this up to the directory where spark is installed
if 'SPARK_HOME' not in os.environ:
    os.environ['SPARK_HOME'] = 'C:\\spark'
    
#create a variable for our root path
SPARK_HOME = os.environ['SPARK_HOME']

#Add the following paths to the system path. Please check your installation
#to make sure that these zip files actually exists. The names might change as
#versions change
sys.path.insert(0,os.path.join(SPARK_HOME,"python"))
sys.path.insert(0,os.path.join(SPARK_HOME,"python","lib"))
sys.path.insert(0,os.path.join(SPARK_HOME,"python","lib","py4j-0.10.6-src.zip"))
sys.path.insert(0,os.path.join(SPARK_HOME,"python","lib","pyspark.zip"))
sys.path.insert(0,os.path.join(SPARK_HOME,"python","lib","mysql-connector-java-5.1.46-bin.jar"))
 
#Initialize a spark context
from pyspark import SparkContext
from pyspark import SparkConf

#optionally configure spark
conf = SparkConf()
conf.setAppName("Jeffwiz")

#Initalize spark context onl runs once
sc = SparkContext('local', conf=conf)

In [2]:
from pyspark.conf import SparkConf

In [4]:
from pyspark.sql.session import SparkSession

In [5]:
spark = SparkSession.builder \
        .master("local") \
        .appName("Jeffwiz") \
        .config("spark.some.config.option", "some-value") \
        .getOrCreate()

In [5]:
l = [('Alice', 1)]

In [7]:
 from pyspark.sql import Row

In [8]:
rdd = sc.parallelize(l)

In [2]:
from pyspark.sql import HiveContext,Row

In [3]:
from pyspark.sql import SQLContext, Row

In [4]:
l = [('Alice', 1)]

In [6]:
hivectx = HiveContext(sc)

In [2]:

from pyspark.sql import SparkSession 
from pyspark.sql import DataFrame 
from pyspark.sql import Column 
from pyspark.sql import Row 
from pyspark.sql import GroupedData
from pyspark.sql import DataFrameNaFunctions 
from pyspark.sql import DataFrameStatFunctions
from pyspark.sql import functions 
from pyspark.sql import types 
from pyspark.sql import Window 
from pyspark.sql import HiveContext
from pyspark.sql import SQLContext

In [6]:
s1 = SparkSession.builder.master("local").appName("jeff").config(conf=conf).getOrCreate()

In [5]:
l = [('Alice', 1)]

In [10]:
from pyspark.conf import SparkConf

In [13]:
SparkSession.builder.config(conf=SparkConf())

In [3]:
s1 = SparkSession.builder.master("local").appName("jeff").config(conf=SparkConf()).getOrCreate()

In [6]:
s1.createDataFrame(l).collect()

[Row(_1='Alice', _2=1)]

In [7]:
s1.createDataFrame(l,['name','age']).collect()

[Row(name='Alice', age=1)]

In [5]:
s1.createDataFrame(l,['name','age'], ).collect()

[Row(name='Alice', age=1)]

In [6]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.stat import ChiSquareTest

data = [(0.0, Vectors.dense(0.5, 10.0)),
        (0.0, Vectors.dense(1.5, 20.0)),
        (1.0, Vectors.dense(1.5, 30.0)),
        (0.0, Vectors.dense(3.5, 30.0)),
        (0.0, Vectors.dense(3.5, 40.0)),
        (1.0, Vectors.dense(3.5, 40.0))]
df = s1.createDataFrame(data, ["label", "features"])

r = ChiSquareTest.test(df, "features", "label").head()
print("pValues: " + str(r.pValues))
print("degreesOfFreedom: " + str(r.degreesOfFreedom))
print("statistics: " + str(r.statistics))

pValues: [0.687289278791,0.682270330336]
degreesOfFreedom: [2, 3]
statistics: [0.75,1.5]

In [5]:
s1.version

'2.2.0'

In [6]:
s1.sparkContext

In [7]:
d = [{'name': 'Alice', 'age': 1}]

In [8]:
s1.createDataFrame(d).collect()

C:\spark\python\lib\pyspark.zip\pyspark\sql\session.py:331: UserWarning: inferring schema from dict is deprecated,please use pyspark.sql.Row instead
  warnings.warn("inferring schema from dict is deprecated,"

[Row(age=1, name='Alice')]

In [6]:
rdd = sc.parallelize(l)
s1.createDataFrame(rdd).collect()

[Row(_1='Alice', _2=1)]

In [7]:
df = s1.createDataFrame(rdd, ['name', 'age'])
df.collect()

[Row(name='Alice', age=1)]

In [12]:
from pyspark.sql import Row
Person = Row('name', 'age')
person = rdd.map(lambda r: Person(*r))
df2 = s1.createDataFrame(person)
df2.collect()

[Row(name='Alice', age=1)]

In [14]:
from pyspark.sql.types import *
schema = StructType([
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True)])
df3 = s1.createDataFrame(rdd, schema)
df3.collect()

[Row(name='Alice', age=1)]

In [14]:
s1.createDataFrame(df.toPandas()).collect()

[Row(name='Alice', age=1)]

In [16]:
import pandas as pd
s1.createDataFrame(pd.DataFrame([[1, 2]])).collect()

[Row(0=1, 1=2)]

In [4]:
sqlContext = SQLContext(sc)

In [ ]:
iris = sc.textFile(r'C:\Users\jeffnerd\Desktop\IRIS.csv')
rows = iris.map(lambda line:line.split(","))
for row in rows.take(rows.count()):print(row[1],'\t',row[2],'\t',row[0])

In [4]:
spark = SparkSession.builder.master("local").appName("jeff").config(conf=SparkConf()).getOrCreate()

In [4]:
df = spark.read.json(r'C:\Users\jeffnerd\Desktop\employees.json')

In [11]:
df.show()

+--------------------+
|     _corrupt_record|
+--------------------+
|                   {|
|     "Employees" : [|
|                   {|
|  "userId":"rirani",|
|"jobTitleName":"D...|
|"firstName":"Romin",|
| "lastName":"Irani",|
|"preferredFullNam...|
|"employeeCode":"E1",|
|      "region":"CA",|
|"phoneNumber":"40...|
|"emailAddress":"r...|
|                  },|
|                   {|
|  "userId":"nirani",|
|"jobTitleName":"D...|
| "firstName":"Neil",|
| "lastName":"Irani",|
|"preferredFullNam...|
|"employeeCode":"E2",|
+--------------------+
only showing top 20 rows

In [5]:
df1 = spark.read.csv(r'C:\Users\jeffnerd\Desktop\IRIS.csv', header=True)

In [6]:
df1.show()

+-----------+----------+-----------+----------+-----------+
|SepalLength|SepalWidth|PetalLength|PetalWidth|       Name|
+-----------+----------+-----------+----------+-----------+
|        5.1|       3.5|        1.4|       0.2|Iris-setosa|
|        4.9|         3|        1.4|       0.2|Iris-setosa|
|        4.7|       3.2|        1.3|       0.2|Iris-setosa|
|        4.6|       3.1|        1.5|       0.2|Iris-setosa|
|          5|       3.6|        1.4|       0.2|Iris-setosa|
|        5.4|       3.9|        1.7|       0.4|Iris-setosa|
|        4.6|       3.4|        1.4|       0.3|Iris-setosa|
|          5|       3.4|        1.5|       0.2|Iris-setosa|
|        4.4|       2.9|        1.4|       0.2|Iris-setosa|
|        4.9|       3.1|        1.5|       0.1|Iris-setosa|
|        5.4|       3.7|        1.5|       0.2|Iris-setosa|
|        4.8|       3.4|        1.6|       0.2|Iris-setosa|
|        4.8|         3|        1.4|       0.1|Iris-setosa|
|        4.3|         3|        1.1|       0.1|Iris-setosa|
|        5.8|         4|        1.2|       0.2|Iris-setosa|
|        5.7|       4.4|        1.5|       0.4|Iris-setosa|
|        5.4|       3.9|        1.3|       0.4|Iris-setosa|
|        5.1|       3.5|        1.4|       0.3|Iris-setosa|
|        5.7|       3.8|        1.7|       0.3|Iris-setosa|
|        5.1|       3.8|        1.5|       0.3|Iris-setosa|
+-----------+----------+-----------+----------+-----------+
only showing top 20 rows

In [15]:
df1.dtypes

[('_c0', 'string'),
 ('_c1', 'string'),
 ('_c2', 'string'),
 ('_c3', 'string'),
 ('_c4', 'string')]

In [4]:
df1 = spark.read.csv(r'C:\Users\jeffnerd\Desktop\IRIS.csv', header=True)

In [17]:
df1.show()

+-----------+----------+-----------+----------+-----------+
|SepalLength|SepalWidth|PetalLength|PetalWidth|       Name|
+-----------+----------+-----------+----------+-----------+
|        5.1|       3.5|        1.4|       0.2|Iris-setosa|
|        4.9|         3|        1.4|       0.2|Iris-setosa|
|        4.7|       3.2|        1.3|       0.2|Iris-setosa|
|        4.6|       3.1|        1.5|       0.2|Iris-setosa|
|          5|       3.6|        1.4|       0.2|Iris-setosa|
|        5.4|       3.9|        1.7|       0.4|Iris-setosa|
|        4.6|       3.4|        1.4|       0.3|Iris-setosa|
|          5|       3.4|        1.5|       0.2|Iris-setosa|
|        4.4|       2.9|        1.4|       0.2|Iris-setosa|
|        4.9|       3.1|        1.5|       0.1|Iris-setosa|
|        5.4|       3.7|        1.5|       0.2|Iris-setosa|
|        4.8|       3.4|        1.6|       0.2|Iris-setosa|
|        4.8|         3|        1.4|       0.1|Iris-setosa|
|        4.3|         3|        1.1|       0.1|Iris-setosa|
|        5.8|         4|        1.2|       0.2|Iris-setosa|
|        5.7|       4.4|        1.5|       0.4|Iris-setosa|
|        5.4|       3.9|        1.3|       0.4|Iris-setosa|
|        5.1|       3.5|        1.4|       0.3|Iris-setosa|
|        5.7|       3.8|        1.7|       0.3|Iris-setosa|
|        5.1|       3.8|        1.5|       0.3|Iris-setosa|
+-----------+----------+-----------+----------+-----------+
only showing top 20 rows

In [18]:
df1.dtypes

[('SepalLength', 'string'),
 ('SepalWidth', 'string'),
 ('PetalLength', 'string'),
 ('PetalWidth', 'string'),
 ('Name', 'string')]

In [7]:
df1[0]

Column<b'SepalLength'>

In [8]:
df1.printSchema()

root
 |-- SepalLength: string (nullable = true)
 |-- SepalWidth: string (nullable = true)
 |-- PetalLength: string (nullable = true)
 |-- PetalWidth: string (nullable = true)
 |-- Name: string (nullable = true)

In [9]:
df1.select("SepalLength").show()

+-----------+
|SepalLength|
+-----------+
|        5.1|
|        4.9|
|        4.7|
|        4.6|
|          5|
|        5.4|
|        4.6|
|          5|
|        4.4|
|        4.9|
|        5.4|
|        4.8|
|        4.8|
|        4.3|
|        5.8|
|        5.7|
|        5.4|
|        5.1|
|        5.7|
|        5.1|
+-----------+
only showing top 20 rows

 df1.select(df1['SepalLength'], df1['SepalWidth'], df1['PetalLength'], df1['PetalWidth]+1).show()

In [11]:
df1.select(df1['SepalLength'], df1['SepalWidth'], df1['PetalLength'], df1['PetalWidth']+1).show()

+-----------+----------+-----------+----------------+
|SepalLength|SepalWidth|PetalLength|(PetalWidth + 1)|
+-----------+----------+-----------+----------------+
|        5.1|       3.5|        1.4|             1.2|
|        4.9|         3|        1.4|             1.2|
|        4.7|       3.2|        1.3|             1.2|
|        4.6|       3.1|        1.5|             1.2|
|          5|       3.6|        1.4|             1.2|
|        5.4|       3.9|        1.7|             1.4|
|        4.6|       3.4|        1.4|             1.3|
|          5|       3.4|        1.5|             1.2|
|        4.4|       2.9|        1.4|             1.2|
|        4.9|       3.1|        1.5|             1.1|
|        5.4|       3.7|        1.5|             1.2|
|        4.8|       3.4|        1.6|             1.2|
|        4.8|         3|        1.4|             1.1|
|        4.3|         3|        1.1|             1.1|
|        5.8|         4|        1.2|             1.2|
|        5.7|       4.4|        1.5|             1.4|
|        5.4|       3.9|        1.3|             1.4|
|        5.1|       3.5|        1.4|             1.3|
|        5.7|       3.8|        1.7|             1.3|
|        5.1|       3.8|        1.5|             1.3|
+-----------+----------+-----------+----------------+
only showing top 20 rows

In [16]:
df1.filter(df1['SepalLength'] > 2).show()

+-----------+----------+-----------+----------+-----------+
|SepalLength|SepalWidth|PetalLength|PetalWidth|       Name|
+-----------+----------+-----------+----------+-----------+
|        5.1|       3.5|        1.4|       0.2|Iris-setosa|
|        4.9|         3|        1.4|       0.2|Iris-setosa|
|        4.7|       3.2|        1.3|       0.2|Iris-setosa|
|        4.6|       3.1|        1.5|       0.2|Iris-setosa|
|          5|       3.6|        1.4|       0.2|Iris-setosa|
|        5.4|       3.9|        1.7|       0.4|Iris-setosa|
|        4.6|       3.4|        1.4|       0.3|Iris-setosa|
|          5|       3.4|        1.5|       0.2|Iris-setosa|
|        4.4|       2.9|        1.4|       0.2|Iris-setosa|
|        4.9|       3.1|        1.5|       0.1|Iris-setosa|
|        5.4|       3.7|        1.5|       0.2|Iris-setosa|
|        4.8|       3.4|        1.6|       0.2|Iris-setosa|
|        4.8|         3|        1.4|       0.1|Iris-setosa|
|        4.3|         3|        1.1|       0.1|Iris-setosa|
|        5.8|         4|        1.2|       0.2|Iris-setosa|
|        5.7|       4.4|        1.5|       0.4|Iris-setosa|
|        5.4|       3.9|        1.3|       0.4|Iris-setosa|
|        5.1|       3.5|        1.4|       0.3|Iris-setosa|
|        5.7|       3.8|        1.7|       0.3|Iris-setosa|
|        5.1|       3.8|        1.5|       0.3|Iris-setosa|
+-----------+----------+-----------+----------+-----------+
only showing top 20 rows

In [17]:
df1.groupby("SepalLength").count().show()

+-----------+-----+
|SepalLength|count|
+-----------+-----+
|          7|    1|
|        7.3|    1|
|        6.1|    6|
|        4.4|    3|
|        4.5|    1|
|        6.2|    4|
|        6.5|    5|
|        5.4|    6|
|        4.9|    6|
|        7.7|    4|
|          5|   10|
|        7.1|    1|
|        5.7|    8|
|        5.3|    1|
|        4.3|    1|
|        4.8|    5|
|        7.4|    1|
|          6|    6|
|        5.6|    6|
|        4.6|    4|
+-----------+-----+
only showing top 20 rows

In [1]:
import sys,os

In [2]:
os.environ

environ({'TEMP': 'C:\\Users\\jeffnerd\\AppData\\Local\\Temp', 'PROGRAMFILES(X86)': 'C:\\Program Files (x86)', 'COMMONPROGRAMW6432': 'C:\\Program Files\\Common Files', 'APPDATA': 'C:\\Users\\jeffnerd\\AppData\\Roaming', 'MOZ_PLUGIN_PATH': 'C:\\Program Files (x86)\\Foxit Software\\Foxit Reader\\plugins\\', 'GIT_PAGER': 'cat', 'ALLUSERSPROFILE': 'C:\\ProgramData', 'USERPROFILE': 'C:\\Users\\jeffnerd', 'NUMBER_OF_PROCESSORS': '4', 'COMSPEC': 'C:\\WINDOWS\\system32\\cmd.exe', 'MPLBACKEND': 'module://ipykernel.pylab.backend_inline', 'SESSIONNAME': 'Console', 'COMMONPROGRAMFILES(X86)': 'C:\\Program Files (x86)\\Common Files', 'SPARK_HOME': 'C:\\spark', 'PROCESSOR_IDENTIFIER': 'Intel64 Family 6 Model 42 Stepping 7, GenuineIntel', 'COMMONPROGRAMFILES': 'C:\\Program Files\\Common Files', 'IPY_INTERRUPT_EVENT': '1284', 'OS': 'Windows_NT', 'TERM': 'xterm-color', 'TMP': 'C:\\Users\\jeffnerd\\AppData\\Local\\Temp', 'FP_NO_HOST_CHECK': 'NO', 'PROCESSOR_LEVEL': '6', 'USERDOMAIN': 'jeff', 'LOGONSERVER': '\\\\JEFF', 'PATHEXT': '.COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC', 'PAGER': 'cat', 'PSMODULEPATH': 'C:\\WINDOWS\\system32\\WindowsPowerShell\\v1.0\\Modules\\', 'CLICOLOR': '1', 'CONDA_PREFIX': 'C:\\Users\\jeffnerd\\Anaconda3', 'PROCESSOR_ARCHITECTURE': 'AMD64', 'JPY_PARENT_PID': '1288', 'PROCESSOR_REVISION': '2a07', 'LOCALAPPDATA': 'C:\\Users\\jeffnerd\\AppData\\Local', 'JPY_INTERRUPT_EVENT': '1284', 'USERDOMAIN_ROAMINGPROFILE': 'jeff', 'PATH': 'C:\\Users\\jeffnerd\\Anaconda3\\Library\\bin;C:\\Users\\jeffnerd\\Anaconda3\\Library\\bin;C:\\Users\\jeffnerd\\Anaconda3;C:\\Users\\jeffnerd\\Anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\jeffnerd\\Anaconda3\\Library\\usr\\bin;C:\\Users\\jeffnerd\\Anaconda3\\Library\\bin;C:\\Users\\jeffnerd\\Anaconda3\\Scripts;C:\\Users\\jeffnerd\\Anaconda3\\Library\\bin;C:\\ProgramData\\Oracle\\Java\\javapath;C:\\WINDOWS\\system32;C:\\WINDOWS;C:\\WINDOWS\\System32\\Wbem;C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\;C:\\Users\\jeffnerd\\Anaconda3;C:\\Users\\jeffnerd\\Anaconda3\\Scripts;C:\\Users\\jeffnerd\\Anaconda3\\Library\\bin;C:\\Users\\jeffnerd\\AppData\\Local\\Programs\\Python\\Python35-32\\Scripts\\;C:\\Users\\jeffnerd\\AppData\\Local\\Programs\\Python\\Python35-32\\C:\\spark\\bin', 'PROGRAMW6432': 'C:\\Program Files', 'HOMEDRIVE': 'C:', 'PROGRAMDATA': 'C:\\ProgramData', 'PUBLIC': 'C:\\Users\\Public', 'HADOOP_HOME': 'C:\\winutils', 'SYSTEMDRIVE': 'C:', 'PROGRAMFILES': 'C:\\Program Files', 'USERNAME': 'jeffnerd', 'WINDIR': 'C:\\WINDOWS', 'COMPUTERNAME': 'JEFF', 'HOMEPATH': '\\Users\\jeffnerd', 'SYSTEMROOT': 'C:\\WINDOWS'})

In [5]:
df1.createOrReplaceTempView("IRIS")

In [8]:
sqlDF = spark.sql("SELECT * from IRIS")
sqlDF.show()

+-----------+----------+-----------+----------+-----------+
|SepalLength|SepalWidth|PetalLength|PetalWidth|       Name|
+-----------+----------+-----------+----------+-----------+
|        5.1|       3.5|        1.4|       0.2|Iris-setosa|
|        4.9|         3|        1.4|       0.2|Iris-setosa|
|        4.7|       3.2|        1.3|       0.2|Iris-setosa|
|        4.6|       3.1|        1.5|       0.2|Iris-setosa|
|          5|       3.6|        1.4|       0.2|Iris-setosa|
|        5.4|       3.9|        1.7|       0.4|Iris-setosa|
|        4.6|       3.4|        1.4|       0.3|Iris-setosa|
|          5|       3.4|        1.5|       0.2|Iris-setosa|
|        4.4|       2.9|        1.4|       0.2|Iris-setosa|
|        4.9|       3.1|        1.5|       0.1|Iris-setosa|
|        5.4|       3.7|        1.5|       0.2|Iris-setosa|
|        4.8|       3.4|        1.6|       0.2|Iris-setosa|
|        4.8|         3|        1.4|       0.1|Iris-setosa|
|        4.3|         3|        1.1|       0.1|Iris-setosa|
|        5.8|         4|        1.2|       0.2|Iris-setosa|
|        5.7|       4.4|        1.5|       0.4|Iris-setosa|
|        5.4|       3.9|        1.3|       0.4|Iris-setosa|
|        5.1|       3.5|        1.4|       0.3|Iris-setosa|
|        5.7|       3.8|        1.7|       0.3|Iris-setosa|
|        5.1|       3.8|        1.5|       0.3|Iris-setosa|
+-----------+----------+-----------+----------+-----------+
only showing top 20 rows

In [7]:
sqlDF1 = spark.sql("SELECT SepalLength as sepal, PetalLength as petal from IRIS where PetalWidth <3.0").show()

+-----+-----+
|sepal|petal|
+-----+-----+
|  5.1|  1.4|
|  4.9|  1.4|
|  4.7|  1.3|
|  4.6|  1.5|
|    5|  1.4|
|  5.4|  1.7|
|  4.6|  1.4|
|    5|  1.5|
|  4.4|  1.4|
|  4.9|  1.5|
|  5.4|  1.5|
|  4.8|  1.6|
|  4.8|  1.4|
|  4.3|  1.1|
|  5.8|  1.2|
|  5.7|  1.5|
|  5.4|  1.3|
|  5.1|  1.4|
|  5.7|  1.7|
|  5.1|  1.5|
+-----+-----+
only showing top 20 rows

In [9]:
df1.createGlobalTempView("IRIS")

In [10]:
spark.sql("select * from global_temp.IRIS").show()

+-----------+----------+-----------+----------+-----------+
|SepalLength|SepalWidth|PetalLength|PetalWidth|       Name|
+-----------+----------+-----------+----------+-----------+
|        5.1|       3.5|        1.4|       0.2|Iris-setosa|
|        4.9|         3|        1.4|       0.2|Iris-setosa|
|        4.7|       3.2|        1.3|       0.2|Iris-setosa|
|        4.6|       3.1|        1.5|       0.2|Iris-setosa|
|          5|       3.6|        1.4|       0.2|Iris-setosa|
|        5.4|       3.9|        1.7|       0.4|Iris-setosa|
|        4.6|       3.4|        1.4|       0.3|Iris-setosa|
|          5|       3.4|        1.5|       0.2|Iris-setosa|
|        4.4|       2.9|        1.4|       0.2|Iris-setosa|
|        4.9|       3.1|        1.5|       0.1|Iris-setosa|
|        5.4|       3.7|        1.5|       0.2|Iris-setosa|
|        4.8|       3.4|        1.6|       0.2|Iris-setosa|
|        4.8|         3|        1.4|       0.1|Iris-setosa|
|        4.3|         3|        1.1|       0.1|Iris-setosa|
|        5.8|         4|        1.2|       0.2|Iris-setosa|
|        5.7|       4.4|        1.5|       0.4|Iris-setosa|
|        5.4|       3.9|        1.3|       0.4|Iris-setosa|
|        5.1|       3.5|        1.4|       0.3|Iris-setosa|
|        5.7|       3.8|        1.7|       0.3|Iris-setosa|
|        5.1|       3.8|        1.5|       0.3|Iris-setosa|
+-----------+----------+-----------+----------+-----------+
only showing top 20 rows

In [7]:
jdbcDF = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://localhost:3306/bank") \
    .option("dbtable", "branch") \
    .option("user", "root") \
    .option("password", "Mog#67sag") \
    .option("driver", "com.mysql.jdbc.Driver")\
    .load()

Py4JJavaError: An error occurred while calling o79.load.
: java.lang.ClassNotFoundException: com.mysql.jdbc.Driver
	at java.net.URLClassLoader.findClass(URLClassLoader.java:381)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:424)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:357)
	at org.apache.spark.sql.execution.datasources.jdbc.DriverRegistry$.register(DriverRegistry.scala:45)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions$$anonfun$6.apply(JDBCOptions.scala:79)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions$$anonfun$6.apply(JDBCOptions.scala:79)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:79)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:35)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:34)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:340)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:239)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:227)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:164)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:745)

In [8]:
jdbcDF2 = spark.read \
    .jdbc("jdbc:mysql://localhost:3306/bank", "branch",
          properties={"user": "root", "password": "Mog#67sag"})

Py4JJavaError: An error occurred while calling o135.jdbc.
: java.sql.SQLException: No suitable driver
	at java.sql.DriverManager.getDriver(DriverManager.java:315)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions$$anonfun$7.apply(JDBCOptions.scala:84)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions$$anonfun$7.apply(JDBCOptions.scala:84)
	at scala.Option.getOrElse(Option.scala:121)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:83)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:34)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:32)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:306)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:178)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:146)
	at org.apache.spark.sql.DataFrameReader.jdbc(DataFrameReader.scala:193)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:745)